/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Positioning Classes */

section.shadow.left-col {
  width: 66%;
  display: inline-block;
}

section.shadow.right-col {
  display: inline-block;
  width: 32%;
}

section.shadow.column {
  width: 32%;
  display: inline-block;
}

.top-row {
  display: flex;
  justify-content: space-between;
}

.bottom-row {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 0 0;
}

.wrapper.footer {
  display: flex;
  justify-content: space-between;
  margin: 20px auto 0 auto;
}

.border_right {
  display: inline-block;
  width: 32%;
  
}